<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-11-14T01:58:00Z</date>
	<key>WorkspacePath</key>
	<string>/Users/guruspeaker/Documents/COP 2658/171113/sc00-StatesAndFlagsDict/sc00-StatesAndFlags.xcodeproj</string>
</dict>
</plist>
